<!-- AEROWORKS -->
<module type="feedback_to_user" id="rqtmodule">
    <meta>
        <name>rqt module</name>
        <description>Created using a tutorial, this modules starts the ros_rqt_graph</description>
        <author>Doutzen Kroes</author>
    </meta>

    <executable id="graphnode" pkg="rqt_graph" exec="rqt_graph">
    </executable>
</module>