<div id="project">
    <div class="project-container">
        {{#each canvasState.modules_in_canvas as |module|}}
            <div class="window" id="{{module.uWindowId}}"><span class="window_label">{{module.meta.name}}</span></div>
        {{/each}}
    </div>
</div>

{{yield}}
