<div id="palette">
    <h1>Palette</h1>
    <p>List of all available modules.<br />
        <a href="#" id="vikiRefreshModules" data-statusmessage="Sent request for module list">
            <img src="{{external-image "img/arrow_refresh.png"}}" />
            Update modules
        </a>
    </p>

    <input type="text" class="form-control" id="module-filter-text" placeholder="Filter modules (Ctrl+M)">
    <ul id="list"></ul>

    <p id="help-text-single-module-filter" style="display: none;">
    <i class="glyphicon glyphicon-info-sign"></i> Press 'Enter' to add this module</p>
</div>
