<!-- runs from top to bottom starting executables, initializing params etc. -->

<aeroconfig>
	<meta> <!-- stuff for organization, not actually used by the core -->
		<description>
			This particular configuration does a specific task which you can describe here
		</description>
		<author email="a.kamphuis-1@studen.utwente.nl">
			Alex Kamphuis
		</author>
	</meta>

	<params> <!-- parameters needed by this system, not necessarily specific for one executable -->
		<param name="gain_preset" value="agressive" /> <!-- param goes in the ~ namespace -->
	</params>

	<modules>
		<robot namespace="albabot_number_1">

			<module id="albatrouz_controller" required="true"> <!-- runs all executables from that module -->
				<param param_specific_for_this_executable="1.0" /> <!-- param will be placed in the namespace provided above -->
				<remap from="a_topic" to="another_topic" />
				<depend required="true">albatrouz_controller</depend>
				<depend required="false">albatrouz_colldetect</depend>
			</module>

			<module id="xyz-target_from_keyboard" required="true">
				<ramap from="output" to="desired_position" />
			</module>
		</robot>

		<module id="big_red_button_is_pressed" required="true" name="button_listener_1">
			<remap from="output" to="albabot_number_1/get_the_pilot_a_beer_from_the_fridge" />
		</module>

		<module id="big_red_button_is_pressed" required="true" name="button_listener_2"> <!-- this way you will always get 2 beers!! -->
			<remap from="output" to="albabot_number_1/get_the_pilot_a_beer_from_the_fridge" />
		</module>
	</modules>
</aeroconfig>