<aeromodule>
	<id>albatrouz_controller</id>
	<meta> <!-- this tag includes includes info that you will not use via the core. it is for documentatin, and referral etc. -->
		<description>
			This is a piece of text that describes what this module does, etc. ie. This is a PID controller for the albatrouz hectacopter (yes, hectacopter), a very awesome multirotor.
		</description>
		<source>
			http://www.github.com/veryawesomecode_that_we_need
		</source>
		<author>
			The name of a very smart professor that had a PHD student write code for him at a certain university
		</author>
		<aeromaintainer email="a.kamphuis-1@student.utwente.nl"> <!-- the person that put this code into the aeroworks framework -->
			Alex Kamphuis
		</aeromaintainer>
		<license type="MIT"> <!-- license belonging to the original code, not it's aeroworks implementation -->
			Copyright (c) 2015 somebodythatmadethis

			Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

			The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

			THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
		</license>
	</meta>

	<executable type="rosnode" src="catkin_ws\aeroworks\controller" id="controller"> <!-- id is not unique -->
		<inputs> <!-- all input topics -->
			<input name="desired_position" type="rostopic" msgtype="geometry_msgs/Pose" required="true" description="the name should be self explanatory, but if its not one can put stuff here" /> <!-- -->
			<input name="gains_changed" msgtype="std_msgs/Empty" />
			<input name="stop_and_hover" msgtype="std_msgs/Empty" />
			<input name="get_the_pilot_a_beer_from_the_fridge" msgtype="std_msgs/Empty" required="true"/> <!-- i told you it was awesome -->
		</inputs>
		<outputs> <!-- all output topics -->
			<output name="gain_log" msgtype="albatrouz_msgs/gains" required="false" />
			<output name="amount_of_beer_left_in_the_fridge" msgtype="std_msgs/Int" />
		</outputs>
	</executable>

	<executable type="python" src="catkin_ws\aeroworks\coll_detect" id="albatrouz_colldetect"> <!-- There is no reason why there should be mere 1 executable -->
		<inputs> <!-- no inputs -->
		</inputs>

		<outputs>
			<output name="collision" msgtype="std_msgs/Empty" description="This node will publish to this topic whenever it has crashed into something. useless." />
		</outputs>
</aeromodule>