<!--AEROWORKS-->
<module type="sensor" id="camera_source">

    <meta>
        <name>USB camera</name>
        <author>Robin Hoogervorst</author>
        <icon>icon.png</icon>
        <description>
            Wrapper for the USB cam package within ros
        </description>
    </meta>

    <!-- The in- and outputs of the module as a whole. They are linked to specific executables within the module -->
    <outputs>
        <output type="ros_topic" name="image" link="usb_cam/image_raw" message_type="sensor_msgs/Image" required="true" />
    </outputs>

    <executable id="usb_cam" pkg="libuvc_camera" exec="camera_node">
        <params>
            <param name="vendor" type="string" default="null" />
            <param name="product" type="string" default="null" />
            <param name="width" type="string" default="640" />
            <param name="height" type="string" default="480" />
            <param name="frame_rate" type="string" default="15.0" />
        </params>

        <outputs>
            <output type="ros_topic" name="image" message_type="sensor_msgs/Image" required="false" />
        </outputs>
    </executable>
</module>