<!--AEROWORKS-->
<module type="view" id="pose_plot">
    <meta>
        <name>Pose plot</name>
        <author>Robin Hoogervorst</author>
        <description>
            Wrapper for RQT plot with a pose
        </description>
    </meta>

    <!-- The in- and outputs of the module as a whole. They are linked to specific executables within the module -->
    <inputs>
        <input type="ros_topic" name="image_view_input" link="image_view/image" message_type="sensor_msgs/Image" required="true" />
    </inputs>

    <executable id="image_view" pkg="image_view" exec="image_view">
        <inputs>
            <input type="ros_topic" name="image" message_type="sensor_msgs/Image" required="true" />
        </inputs>
    </executable>
</module>