<?xml version="1.0"?>
<!--

This launch file was intended for use through the interface.
It starts the following nodes:
- A fly_from_joystick executable, translating joy messages to cmd_vel_joystick

  -->

<launch>
	<arg name="prefix" />
  
  <!-- Note that axis IDs are those from the joystick message plus one, to be able to invert axes by specifiying either positive or negative axis numbers.-->
  <!-- Axis 2 from joy message thus has to be set as '3' or '-3'(inverted mode) below-->
  
  <!-- For Logitech Joystick 
  <node name="fly_from_joystick" pkg="ram" type="fly_from_joystick">
    <param name="x_axis" value="2"/>
    <param name="y_axis" value="1"/> 
    <param name="z_axis" value="4"/> 
    <param name="yaw_axis" value="3"/> 
    <param name="x_velocity_max" value="1"/>
    <param name="y_velocity_max" value="1"/>
    <param name="z_velocity_max" value="1"/>
    <param name="yaw_velocity_max" value="1"/>
    <param name="slow_button" value="6"/>
    <param name="reset_button" value="8"/> 
    <param name="land_button" value="11"/>
    <param name="takeoff_button" value="12"/>
    <param name="toggle_control_button" value="7" />
    <param name="enable_stick_control_init" value="true"/>
    <param name="prefix" value="$(arg prefix)">
  </node>-->
  <!-- For the PS3 -->
  <node name="fly_from_joystick" pkg="ram" type="fly_from_joystick">
    <param name="x_axis" value="2"/> 
    <param name="y_axis" value="1"/> 
    <param name="z_axis" value="4"/> 
    <param name="yaw_axis" value="3"/> 
    <param name="x_velocity_max" value="1"/>
    <param name="y_velocity_max" value="1"/>
    <param name="z_velocity_max" value="1"/>
    <param name="yaw_velocity_max" value="1"/>
    <param name="slow_button" value="11"/> 
    <param name="reset_button" value="10"/> 
    <param name="land_button" value="14"/>
    <param name="takeoff_button" value="15"/>
    <param name="toggle_control_button" value="7" />
    <param name="enable_stick_control_init" value="true"/>
    <param name="prefix" value="$(arg prefix)">
  </node><!-- -->
</launch>
