<!--AEROWORKS-->
<module type="vehicle" id="parrot">
	<!-- The in- and outputs of the module as a whole. They are linked to specific executables within the module -->
	<outputs>
		<output type="ros_topic" name="front_video" link="ardrone_node/front_video" message_type="video_raw" required="true" />
	</outputs>

	<inputs>
		<input type="ros_topic" name="cmd_vel" link="ardrone_node/cmd_vel" message_type="geometry_msgs/Twist" required="true" />
        <input type="ros_topic" name="reset" link="ardrone_node/ardrone/reset" message_type="standard_msgs/Empty" required="true" />
        <input type="ros_topic" name="land" link="ardrone_node/ardrone/land" message_type="standard_msgs/Empty" required="true" />
        <input type="ros_topic" name="takeoff" link="ardrone_node/ardrone/takeoff" message_type="standard_msgs/Empty" required="true" />
	</inputs>

	
	<executable id="ardrone_node" pkg="ardrone_autonomy" exec="ardrone_driver">
		<outputs>
			<output type="ros_topic" name="front_video" message_type="video_raw" required="false" />
		</outputs>

		<inputs>
			<input type="ros_topic" name="cmd_vel" message_type="twist" required="true" />
            <input type="ros_topic" name="ardrone/reset" message_type="standard_msgs/Empty" required="true" />
            <input type="ros_topic" name="ardrone/land" message_type="standard_msgs/Empty" required="true" />
            <input type="ros_topic" name="ardrone/takeoff" message_type="standard_msgs/Empty" required="true" />
		</inputs>

		<params>
			<param name="leds" default="2" type="realnumber" />
			<param name="test" default="3" type="integer" />
		</params>
	</executable>
</module>