<!--AEROWORKS-->
<module type="sensor" id="optitrack">
	<!-- The in- and outputs of the module as a whole. They are linked to specific executables within the module -->
	<outputs>
		<output type="ros_topic" name="position" link="mocap_node/pose" message_type="pose" required="true" />
	</outputs>

	<executable id="mocap_node" pkg="mocap_optitrack" exec="mocap_node">
		<outputs>
			<output type="ros_topic" name="pose" message_type="pose" required="false" />
		</outputs>
	</executable>
</module>