<!-- AEROWORKS -->

<!-- This module file enables a ros default node in the aeroworks framework -->

<module type="logger" id="rosbag_record">
    <meta>
        <name>Rosbag record</name>
        <description>Use the built in Rosbag package to record messages (rosbag)</description>
        <author>ros.org, module by Alex Kamphuis</author>
    </meta>

    <executable id="rosbag_record" pkg="rosbag" exec="record">
    </executable>

    <!-- USAGE:
    include this module in your canvas, and then set command line argument for it.

    only works when run inside a new terminal, to enable that you can use the launch-prefix option with for instance: xterm -e

    for options see: http://wiki.ros.org/rosbag/Commandline
    
    -->

</module>