<!--AEROWORKS-->

<!-- This modules is based on ROS packages that you should get using apt-get, and therefore we do not implement the source within the framework. If you do not have these package yet you can get it by opening a console and running 'sudo apt-get install ros-indigo-joy' and 'sudo apt-get install ros-indigo-teleop-twist-joy'-->
<module type="userinput" id="joystick">
	<meta>
        <name>Joystick node</name>
		<description>Uses joy/joy_node and teleop_twist_joy to generate a cmd_vel topic with twist messages</description>
		<author>C. Trouwborst/A. Kamphuis</author>
	</meta>

	<!-- The in- and outputs of the module as a whole. They are linked to specific executables within the module -->
	<outputs>
		<output type="ros_topic" name="cmd_vel_joy" link="twist_from_joy/cmd_vel_joy" message_type="geometry_msgs/Twist" required="true" />
	</outputs>

	<executable id="joystick_node" pkg="joy" exec="joy_node">
		<outputs>
			<output type="ros_topic" name="joy" message_type="sensor_msgs/Joy" required="true" />
			<output type="ros_topic" name="/diagnostics" message_type="diagnostic_msgs/DiagnosticArray" required="false" />
			<output type="ros_topic" name="/rosout" message_type="rosgraph_msgs/Log" required="false" />
			<output type="ros_service" name="get_loggers" message_type="roscpp/GetLoggers" required="false" />
			<output type="ros_service" name="set_logger_level" message_type="roscpp/SetLoggerLevel" />
		</outputs>
		<params>
			<param name="dev" default="/dev/input/js0" type="string"/>
		</params>
	</executable>

	<executable id="twist_from_joy" pkg="twist_from_joy" exec="fly_from_joy">
		<inputs>
			<input type="ros_topic" name="joy" message_type="sensor_msgs/Joy" required="true" />
		</inputs>
		<outputs>
			<output type="ros_topic" name="cmd_vel_joy" message_type="geometry_msgs/Twist" required="true" />
			<output type="ros_topic" name="/rosout" message_type="rosgraph_msgs/Log" required="false" />
		</outputs>
		<params>
			<param name="x_axis" default="2" type="int"/> 
		    <param name="y_axis" default="1" type="int"/> 
		    <param name="z_axis" default="4" type="int"/> 
		    <param name="yaw_axis" default="3" type="int"/> 
		    <param name="x_velocity_max" default="1" type="int"/>
		    <param name="y_velocity_max" default="1" type="int"/>
		    <param name="z_velocity_max" default="1" type="int"/>
		    <param name="yaw_velocity_max" default="1" type="int"/>
		    <param name="slow_button" default="6" type="int"/>
		    <param name="reset_button" default="8" type="int"/>
		    <param name="land_button" default="11" type="int"/>
		    <param name="takeoff_button" default="12" type="int"/>
		    <param name="toggle_control_button" default="7" type="int"/>
		    <param name="enable_stick_control_init" default="true" type="bool"/>
		</params>
	</executable>

	<configuration>
		<connect publisher="joystick_node/joy" listener="twist_from_joy/joy" />
	</configuration>

</module>