<!-- AEROWORKS -->
<module type="middleware" id="empty_in">
    <meta>
        <name>Empty input module</name>
        <description>An empty module that accepts an input, can be used during building a canvas.</description>
        <author>Alex Kamphuis</author>
        <icon>glyphicon-record</icon>
    </meta>

    <inputs>
        <input type="ros_topic" name="input" link="" message_type="ANY" required="false" />
    </inputs>

    <outputs>
        <!-- no outputs -->
    </outputs>

</module>