<!-- AEROWORKS -->
<module type="middleware" id="middle_posestamped_pose">

	<meta>
		<name>PoseStamped to Pose</name>
		<description>Strips the stamp from a pose stamped</description>
	</meta>

	<inputs>
		<input type="ros_topic" name="poseStamped" link="test/test" message_type="geometry_msgs/PoseStamped" required="true" />
	</inputs>

	<outputs>
		<output type="ros_topic" name="pose" link="test/test" message_type="geometry_msgs/Pose" required="true" />
	</outputs>
</module>