<!-- AEROWORKS -->
<module type="middleware" id="marker_detection">
    <meta>
        <name>Marker Detection</name>
        <author>Robin Hoogervorst</author>
        <description>Estimates the total odom nav msg, from a pose</description>
        <icon>glyphicon-qrcode</icon>
    </meta>

    <inputs>
        <input type="ros_topic" name="image" link="marker_detection_node/image" message_type="sensor_msgs/Image" required="true" />
        <input type="ros_topic" name="pose" link="marker_detection_node/pose" message_type="geometry_msgs/PoseStamped" required="false" />
    </inputs>

    <outputs>
        <output type="ros_topic" name="marker_pose" link="marker_detection_node/output_pose" message_type="geometry_msgs/PoseStamped" required="false" />
    </outputs>

    <executable id="marker_detection_node" pkg="marker_detection" exec="marker_detection_node">
        <inputs>
            <input type="ros_topic" name="image" message_type="sensor_msgs/Image" required="true" />
            <input type="ros_topic" name="pose" message_type="geometry_msgs/PoseStamped" required="false" />
        </inputs>

        <outputs>
            <output type="ros_topic" name="output_pose" message_type="geometry_msgs/PoseStamped" required="false" />
        </outputs>

        <params>
            <param name="detector" type="string" default="APRIL" />
            <param name="camera_calibration" type="string" default="/mnt/data/RAM/workspace/src/aeroworks/modules/middleware/marker_detection/calibration/20150401_buildin_hp.xml" />
            <param name="camera_offset_x" type="double" default="0"  />
            <param name="tagsize" type="double" default="0.0456" />
        </params>
    </executable>

</module>