<!--AEROWORKS-->
<module type="userinput" id="setpoint">
	<!-- The in- and outputs of the module as a whole. They are linked to specific executables within the module -->
	<outputs>
		<output type="ros_topic" name="setpoint" link="setpoint_node/setpoint" message_type="pose" required="true" />
	</outputs>

	<executable id="setpoint_node" pkg="setpoint" exec="setpoint_node">
		<outputs>
			<output type="ros_topic" name="setpoint" message_type="pose" required="false" />
		</outputs>
	</executable>
</module>