<!-- AEROWORKS -->

<!-- This module file enables a ros default node in the aeroworks framework -->

<module type="userinput" id="turtlekey">
    <meta>
        <name>turtle_teleop_key</name>
        <descritpion>The teleop node for a turtle</descritpion>
        <auther>ros.org</auther>
    </meta>

    <outputs>
        <output type="ros_topic" name="cmd_vel" link="turtle_teleop_node/turtle1/cmd_vel" message_type="geometry_msgs/TWist" required="true"/>
    </outputs>

    <executable id="turtle_teleop_node" pkg="turtlesim" exec="turtle_teleop_key">
        <outputs>
            <output type="ros_topic" name="turtle1/cmd_vel" message_type="geometry_msgs/Twist" required="true"/>
        </outputs>
    </executable>

</module>