<div class="container-fluid">

    <div class="row">
        <div class="col-lg-2">
            {{! Logo and palette }}
            {{viki-logo}}

        </div>
        <div class="col-lg-8">
            {{! Toolbar + Canvas }}
        </div>
        <div class="col-lg-2">
            {{! Right sidebar }}
        </div>
    </div>
</div>

{{viki-canvas}}

{{outlet}}
