<?xml version="1.0"?>

<launch>
    <param name="/Lindsey/amax" value="10.0" />
    <param name="/Lindsey/vmax" value="2.0" />
    <param name="/Lindsey/radius" value="0.5" />

    <!--
    <param name="/object/radius" value="0.5" />
    -->

  <node 
    pkg="ram_vo"
    name="master_divisor"
    type="master_divisor"
    launch-prefix="xterm -e gdb --args" 
    >
    <param name="simulation" value="false" />
  </node>

  <!--
  <node
    pkg="ram_vo"
    name="pose_remapper_object_sphere1"
    type="pose_remapper"
    >
    <remap from="output" to="/James/unfiltered_pose" />
    <param name="modelno" value="1"/>
  </node>
-->

  <node
    ns="/Lindsey"
    pkg="ram_vo"
    name="VO_controller"
    type="VO_controller"
    launch-prefix="xterm -e gdb --args">
  </node>

  <node
    ns="Lindsey"
    pkg="ram_vo"
    name="target_from_keyboard"
    type="target_from_keyboard"
    launch-prefix="xterm -e gdb --args"
    />

  <!-- use the next node to create a fake, static object -->
  <?ignore
  <group ns="Kalf">
  <node
    pkg="ram_vo"
    name="dummy_pub"
    type="dummy_publisher"
    output="screen"
    launch-prefix="xterm -e gdb --args"
    >
  </node>
  </group>
  ?>

<!-- use this to publish markers for plotting with rviz -->
<node
  pkg="ram_vo"
  name="VOplotter"
  type="VOplotter"
  />

</launch>